@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke {
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #D68A5B;
}

@media screen and (min-width: 768px) {
    .stroke {
        -webkit-text-stroke-width: 2px;
    }
}

html {
    scroll-behavior: smooth;
}


form {
    @apply w-full;
}

input[type="text"],
textarea {
    -webkit-appearance: none;
    @apply border-b-2 border-copperfield-100 bg-transparent text-copperfield-100;
}

h1,
h1 span {
    @apply relative font-marcellus text-6xl sm:text-7xl md:text-8xl lg:text-8xl xl:text-9xl uppercase text-copperfield tracking-widest leading-none text-center w-min 2xl:w-full md:top-4 lg:top-12;
}

h2 {
    @apply font-marcellus text-5xl sm:text-6xl md:text-7xl xl:text-8xl uppercase text-copperfield tracking-widest leading-tight text-center max-w-[670px] mx-auto pointer-events-none z-[1] md:z-auto;
}


h2 span {
    @apply inline-block md:min-w-[400px] xl:min-w-[650px];
}

.contact-inner::before {
    content: '';
    height: calc(100% - 1rem);
    @apply absolute border-2 border-b-0 border-copperfield w-full rounded-tr-full rounded-tl-full flex flex-col items-center max-w-[560px] mx-auto inset-0;

}

.contact-inner::after {
    content: '';
    @apply absolute bg-waterloo-900 w-full h-full lg:max-w-[570px] rounded-tr-full rounded-tl-full flex flex-col items-center mx-auto -z-[1] border-b-[120px] sm:border-b-[120px] border-[20px] sm:border-[40px] md:border-t-[20px] lg:border-t-[40px]  border-copperfield-100;
}

.social a {
    @apply px-4}

.social::after {
    content: '';
    @apply absolute bg-copperfield h-[2px] w-full z-[0] top-1/2 -translate-y-1/2;
}

.work-wrapper .num {
    @apply relative w-full;
}
.work-wrapper .num::after {
        content: '';
        @apply inline-flex w-full h-px bg-waterloo pl-2;
    }

.work-container {
    @apply cursor-pointer;
}


.work-container a {
    @apply absolute inset-0 z-[99];
}

.work-container .non-stroke {
    @apply opacity-100 md:opacity-0;
}

.work-container:hover .non-stroke {
    @apply opacity-100 transition-all ease-in-out duration-150;
}

.work-container img {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 300px;
    height: 300px;
    opacity: 0;
    z-index: 1;
    object-fit: contain;
    @apply hidden md:inline transition-all ease-in-out duration-150;
}
.work-container img.visible {
    visibility: visible;
    @apply opacity-100}

