@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


  .title-3 {
    @apply text-copperfield text-base tracking-widest font-semibold uppercase whitespace-nowrap px-1 bg-copperfield-50;
  }

  .title-4 {
    @apply font-marcellus text-2xl uppercase text-copperfield tracking-widest leading-tight w-full;
  }

}

.stroke {
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: theme(colors.copperfield.500);
}

@media screen and (min-width: 768px) {
    .stroke {
        -webkit-text-stroke-width: 2px;
    }
}

html {
    scroll-behavior: smooth;
}


form {
    @apply w-full;
}

input[type="text"],
textarea {
    -webkit-appearance: none;
    @apply border-b-2 border-copperfield-100 bg-transparent text-copperfield-100;
}

h1, h1 span {
    @apply relative font-marcellus text-6xl sm:text-7xl md:text-8xl lg:text-8xl xl:text-9xl uppercase text-copperfield tracking-widest leading-none text-center w-min 2xl:w-full md:top-4 lg:top-12;
}

h2, h2 span {
    @apply relative font-marcellus text-5xl sm:text-6xl md:text-7xl xl:text-8xl uppercase text-copperfield tracking-widest leading-tight text-center  mx-auto pointer-events-none z-[1];
}

h2 {
    span {
        &:first-child {
            @apply -z-[1];
        }
    }
    .stroke {
        @apply absolute text-transparent inset-0 z-[2];
    }
}

.date,
h3 {
      @apply title-3;
}

h4 {
      @apply title-4;
}

p {
      @apply text-waterloo font-montserrat text-base tracking-wide leading-6 text-start w-full;
}

.btn-rounded {
    @apply relative text-center flex justify-center items-center font-montserrat text-copperfield border border-copperfield text-base tracking-widest w-20 h-20 z-[99] backdrop-blur-lg rounded-full;
}
