.about {
      @apply relative md:flex justify-between items-start lg:w-10/12 mx-auto my-12 md:my-24 md:pt-24 px-6;
}

.about-img-wrapper {
      @apply relative before:-top-6 before:-left-12 after:-right-6 after:-bottom-6;
}

.about-img {
      @apply relative overflow-hidden w-[280px] lg:w-[350px] h-[500px] xl:h-[650px] -z-[1] md:z-[0];
}

.about-img img {
      @apply relative w-full h-full object-cover scale-x-[-1] rounded-br-220 rounded-bl-220;      
}

.about-text {
      @apply  relative my-8 md:max-w-[450px];
}

.about-text p {
      @apply text-waterloo font-montserrat text-base tracking-wide leading-6 text-start;
}

.about-content {
      @apply w-full;
}

.about  h2 {
      @apply md:-z-[1];
}

.about h2::before,
.about h2::after {
     content: '';
     background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 550 1005' %3E%3Cpath fill='rgba(226, 199, 165,1)'  d='m273.3 0c-28.7 405.5-52 448.2-273.3 500.9 221.3 52.6 244.6 95.4 273.3 500.8 28.8-405.4 52.1-448.2 273.3-500.8-221.2-52.7-244.5-95.4-273.3-500.9z'/%3E%3C/svg%3E");
     @apply absolute w-10 h-10 lg:w-20 lg:h-20 -z-[2] bg-no-repeat bg-center bg-contain;
}

.about h2 + .stroke {
      @apply absolute h-auto bottom-[unset];
}

.about-img-wrapper::before,
.about-img-wrapper::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 550 1005' %3E%3Cpath fill='rgba(226, 199, 165,1)'  d='m273.3 0c-28.7 405.5-52 448.2-273.3 500.9 221.3 52.6 244.6 95.4 273.3 500.8 28.8-405.4 52.1-448.2 273.3-500.8-221.2-52.7-244.5-95.4-273.3-500.9z'/%3E%3C/svg%3E");
      @apply absolute w-12 h-12 lg:w-16 lg:h-16 -z-[2] bg-no-repeat bg-center bg-contain;      
}

.about .title {
      @apply absolute md:relative w-full inset-x-0 bottom-14 md:bottom-[unset] md:-mt-24 md:-left-32 h-auto;
}


.skilllist {
      @apply mt-4;
      h3 {
            @apply relative text-copperfield text-base tracking-widest font-semibold uppercase whitespace-nowrap bg-copperfield-50 overflow-hidden;
            &::after {
                  content: '';
                  @apply inline-block w-full h-[1px] bg-waterloo ml-2;
            }
      }
      ul {
            @apply flex flex-wrap -mx-2 mt-2;
            .skill {
                 @apply text-base text-waterloo-700 font-montserrat border border-copperfield m-1.5 px-2 py-1;
            }
      }
}



