.social-wrapper {
  @apply relative w-full my-12 md:my-24;
  a {
    animation: marquee 24s linear infinite;
    @apply flex justify-start items-center overflow-hidden inline-block font-marcellus text-6xl sm:text-7xl md:text-8xl lg:text-8xl xl:text-9xl uppercase text-copperfield tracking-widest leading-none text-center w-min 2xl:w-full md:top-4 lg:top-12;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
