.hero-sub {
  @apply my-12 xl:my-0 sm:flex-row;
}

.hero-sub .hero-sub-content {
  @apply w-full h-full md:w-6/12 lg:w-5/12 lg:self-baseline;
}

.hero-sub h1 {
  @apply mx-auto sm:ml-14 lg:w-[750px] lg:pt-4;
}

.hero-sub h1 span {
  @apply text-4xl sm:text-7xl lg:text-8xl uppercase;
}

.hero-sub h1 span:first-of-type {
 @apply text-transparent z-[1];
 -webkit-text-stroke-width: 2px;
 -webkit-text-stroke-color: theme(colors.copperfield.500);
}

.hero-sub h1 span:last-of-type {
  @apply md:text-copperfield;
  -webkit-text-stroke-width: 0px;
 }

.hero.hero-sub figure {
  @apply sm:relative sm:self-start md:w-6/12 lg:w-7/12 h-[250px] sm:h-auto -z-[0] -mt-8 md:m-0;
}


.hero-sub figure img {
  @apply  w-full h-full object-contain;
}

.hero-sub .info {
  @apply mt-6 sm:pr-6 lg:mt-16;
}


.hero-sub .skilllist {
  @apply w-full md:pr-12 lg:pr-16;
}