.experience-wrapper {
      @apply lg:w-10/12 mx-auto my-12 md:my-24 px-6;
}

.position {
      @apply relative flex w-full xl:w-10/12 mx-auto py-10;
      p {
            @apply italic;
      }
      .date {
            @apply relative flex flex-col items-center justify-center border border-copperfield px-3 py-2.5;
            &::after {
                  content: '';
                  @apply  absolute block w-[1px] h-full  bg-copperfield;
            }
      }
      span:nth-of-type(2) {
            @apply font-bold -mt-1 mb-0.5;
      }

      &:is(:first-child) {
            .date {
                  @apply after:top-full;
            }
      }
      &:not(:first-child) {
            .date {
                  @apply after:bottom-full after:bg-copperfield;

            }
      }
}

.sub {
      @apply flex items-center py-0 z-[1] -mt-4 sm:-mt-8 mb-4;
      &::before {
            content: '';
            @apply  block w-[100px] min-w-[80px] h-[1px] mr-2 bg-copperfield ml-9;
      }
      &::after {
            content: url("data:image/svg+xml;utf8,<svg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1533 1533' height='25' fill='rgb(119, 123, 144)'><path d='m766.3 0.3c-80.6 620.4-146 685.7-766.4 766.3 620.4 80.7 685.8 146 766.4 766.4 80.6-620.4 146-685.7 766.3-766.4-620.3-80.6-685.7-145.9-766.3-766.3z'/></svg>");
            fill: var(--copperfield);
           
            @apply absolute left-[1.2rem] top-1/2 -translate-y-1/2 mt-[.18rem] z-[2];

      }
}



h4 {
      @apply font-marcellus text-2xl uppercase text-copperfield tracking-widest leading-tight w-full;
}

p {
      @apply text-waterloo font-montserrat text-base tracking-wide leading-6 text-start w-full;
}

.d-element {
      @apply static before:top-4 before:left-4;
      &::before,
      &::after {
           content: '';
           background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 550 1005' %3E%3Cpath fill='rgba(226, 199, 165,1)'  d='m273.3 0c-28.7 405.5-52 448.2-273.3 500.9 221.3 52.6 244.6 95.4 273.3 500.8 28.8-405.4 52.1-448.2 273.3-500.8-221.2-52.7-244.5-95.4-273.3-500.9z'/%3E%3C/svg%3E");
           @apply absolute w-12 h-12 lg:w-16 lg:h-16 -z-[2] bg-no-repeat bg-center bg-contain;
      }
}