.experience-wrapper {
      @apply lg:w-10/12 mx-auto my-12 md:my-24 px-6;
}

.position {
      @apply relative flex w-full xl:w-10/12 mx-auto py-10;
      p {
            @apply italic;
      }
      .date {
            @apply relative flex flex-col items-center justify-center border border-copperfield px-3 py-2.5;
            .line {
                  content: '';
                  @apply  absolute block w-[1px] h-full  bg-copperfield;
            }
      }
      span:nth-of-type(2) {
            @apply font-bold -mt-1 mb-0.5;
      }

      &:is(:first-child) {
            .date {
                  @apply after:top-full;
            }
      }
      &:not(:first-child) {
            .date {
                  @apply after:bottom-full after:bg-copperfield;

            }
      }
}

.sub {
      @apply flex items-center py-0 z-[1] -mt-4 sm:-mt-8 mb-4;
      &::before {
            content: '';
            @apply  block w-[100px] min-w-[80px] h-[1px] mr-2 bg-copperfield ml-9;
      }

}


p {
      @apply text-waterloo font-montserrat text-base tracking-wide leading-6 text-start w-full;
}
