.contact-wrapper {
  @apply relative lg:w-10/12 mx-auto my-12 md:my-24 px-6 bg-transparent;
}

.contact-inner {
  @apply relative flex flex-col items-center h-fit overflow-hidden pb-4;
  &::before {
    content: '';
    height: calc(100% - 1rem);
    @apply absolute border-2 border-b-0 border-copperfield w-full rounded-tr-full rounded-tl-full flex flex-col items-center max-w-[560px] mx-auto inset-0;
  
  }
  &::after {
    content: '';
    @apply absolute bg-waterloo-900 w-full h-full lg:max-w-[570px] rounded-tr-full rounded-tl-full flex flex-col items-center mx-auto -z-[1] border-b-[120px] sm:border-b-[120px] border-[20px] sm:border-[40px] md:border-t-[20px] lg:border-t-[40px;
  }
}
