nav {
      @apply fixed md:sticky border border-b-0 md:border-t-0 md:border-b border-l-0 border-r-0 border-copperfield w-full bottom-0 md:top-0 z-50 bg-copperfield-50;
      div {
            @apply flex items-center justify-center md:justify-end md:mx-auto md:container md:px-6;
            menu  {
                  @apply container absolute md:border border-l-0 border-r-0 border-t-0 border-copperfield-50 flex flex-col justify-center pointer-events-none opacity-0 invisible bg-copperfield-50 translate-y-4 md:-translate-y-4 bottom-[57px] md:top-[57px] md:bottom-[unset] transition-all duration-150 w-full h-[calc(100dvh-56px)]; 
                  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
                  li {
                        @apply w-full;
                        a {
                              @apply inline-block font-marcellus text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl uppercase text-transparent pl-4 md:pl-0 py-2;
                              -webkit-text-stroke-width: 1px;
                              -webkit-text-stroke-color: theme(colors.copperfield.500);
                              @screen sm {
                                    -webkit-text-stroke-width: 2px; 
                              }
                              &:hover {
                                    @apply text-copperfield transition-all duration-150;
                                    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
                              }
                        }
                  }
            }
            .logo {
                  @apply fixed flex items-center before:-left-full after:-right-full justify-between top-0 md:bottom-0 md:top-[unset] w-full z-[51] py-3 bg-copperfield-50 border border-t-0 md:border-b-0 md:border-t border-l-0 border-r-0 border-copperfield px-6 md:px-0;
                  
                  &::before, &::after {
                        content: '';
                        @apply absolute -top-[1px] h-[1px] w-full bg-copperfield;
                  }                  
      
                  p {
                        @apply whitespace-nowrap w-auto;
                  }
            }

      } 
}


.menu-trigger {
      @apply relative flex justify-center items-center w-full md:w-auto z-[51] py-3;
}

.menu-trigger.triggered + menu {
      @apply pointer-events-auto opacity-100 visible translate-y-0;
}

.menu-trigger + menu {
      @apply min-w-max;
}
.menu-trigger span {
      @apply relative inline-flex flex-col justify-center items-center w-8 h-8;
}

.menu-trigger span::after,
.menu-trigger span::before {
      content: '';
      @apply block h-[.12rem] bg-waterloo-900 max-w-[2rem] transition-all duration-150 w-10/12;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.menu-trigger span::before {
      @apply -translate-y-0.5 translate-x-1;
}

.menu-trigger span::after {
      @apply translate-y-0.5 -translate-x-1;
}

.menu-trigger.triggered span::before,
.menu-trigger.triggered span::after,
.menu-trigger:hover span::before,
.menu-trigger:hover span::after {
      @apply translate-x-0 bg-copperfield;
}

.menu-trigger.triggered span::before {
      @apply rotate-45 translate-y-[.12rem];
}

.menu-trigger.triggered span::after {
      @apply -rotate-45 -translate-y-0;
}

.menu-trigger + menu li {
      @apply overflow-hidden;
      a {
            @apply opacity-0 transition-all duration-150;
            transition-timing-function: cubic-bezier(.17,.67,.83,.67);
            &.link {
                  @apply opacity-100 translate-y-0;
            }
      }
}
