nav {
      @apply fixed md:sticky flex justify-center w-full bottom-0 md:top-0 z-50;
}

nav::after {
      content: '';
      @apply hidden md:inline-block absolute inset-0 -z-[1] bg-copperfield-50 opacity-50;
}

nav menu  {
      @apply absolute md:flex items-center pointer-events-none opacity-0 invisible translate-y-4 md:static md:pointer-events-auto md:translate-y-0 md:opacity-100 md:visible bottom-full backdrop-blur-lg md:backdrop-blur-none transition-all duration-150 mb-4 md:mb-0; 
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

nav menu::after  {
      content: '';
      @apply absolute pointer-events-none inset-0 bg-waterloo-100 opacity-50 -z-[1] md:bg-transparent; 
}


menu li a {
      @apply inline-flex justify-center text-waterloo-900 text-base tracking-widest uppercase px-5 py-4 w-full;
}

menu li:not(:last-child):not(:only-child) {
      @apply border border-t-0 border-l-0 border-r-0 md:border-0 border-copperfield-100;
}

.menu-trigger {
      @apply relative flex md:hidden justify-center items-center w-full backdrop-blur-lg py-4;
}

.menu-trigger.triggered + menu {
      @apply pointer-events-auto opacity-100 visible translate-y-0 min-w-max;
}

.menu-trigger + menu {
      @apply min-w-max;
}
.menu-trigger span {
      @apply relative inline-flex flex-col justify-center items-center w-8 h-8;
}

.menu-trigger span::after,
.menu-trigger span::before {
      content: '';
      @apply block h-[.12rem] bg-waterloo-900 max-w-[2rem] transition-all duration-150 w-10/12;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.menu-trigger span::before {
      @apply -translate-y-0.5 translate-x-1;
}

.menu-trigger span::after {
      @apply translate-y-0.5 -translate-x-1;
}


.menu-trigger:hover span::before,
.menu-trigger:hover span::after {
      @apply translate-x-0;
}

.menu-trigger.triggered span::before,
.menu-trigger.triggered span::after {
      @apply translate-x-0;
}

.menu-trigger.triggered span::before {
      @apply rotate-45 translate-y-[.12rem];
}

.menu-trigger.triggered span::after {
      @apply -rotate-45 -translate-y-0;
}