nav {
      @apply fixed md:sticky flex justify-center md:justify-between w-full bottom-0 md:top-0 z-50 bg-copperfield-50 border-t border-copperfield md:mx-auto md:container md:py-6;
}

nav menu  {
      @apply absolute flex flex-col justify-center pointer-events-none opacity-0 invisible bg-copperfield-50 translate-y-4 md:-translate-y-4 bottom-full md:top-full md:bottom-[unset] transition-all duration-150 w-screen h-[calc(100dvh-56px)]; 
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
      li {
            @apply w-full;
            a {
                  @apply inline-block font-marcellus text-4xl sm:text-6xl md:text-7xl lg:text-8xl lg:text-8xl xl:text-9xl uppercase text-transparent pl-4 py-2;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: theme(colors.copperfield.500);
                  @screen sm {
                        -webkit-text-stroke-width: 2px; 
                  }
                  &:hover {
                        @apply text-copperfield transition-all duration-150;
                        transition-timing-function: cubic-bezier(.17,.67,.83,.67);
                  }
            }
      }
}


.menu-trigger {
      @apply relative flex justify-center items-center w-full md:w-auto z-[51] py-3;
}

.menu-trigger.triggered + menu {
      @apply pointer-events-auto opacity-100 visible translate-y-0;
}

.menu-trigger + menu {
      @apply min-w-max;
}
.menu-trigger span {
      @apply relative inline-flex flex-col justify-center items-center w-8 h-8;
}

.menu-trigger span::after,
.menu-trigger span::before {
      content: '';
      @apply block h-[.12rem] bg-waterloo-900 max-w-[2rem] transition-all duration-150 w-10/12;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.menu-trigger span::before {
      @apply -translate-y-0.5 translate-x-1;
}

.menu-trigger span::after {
      @apply translate-y-0.5 -translate-x-1;
}

.menu-trigger.triggered span::before,
.menu-trigger.triggered span::after,
.menu-trigger:hover span::before,
.menu-trigger:hover span::after {
      @apply translate-x-0 bg-copperfield;
}

.menu-trigger.triggered span::before {
      @apply rotate-45 translate-y-[.12rem];
}

.menu-trigger.triggered span::after {
      @apply -rotate-45 -translate-y-0;
}