nav {
      @apply px-4 fixed border border-t-0 md:border-t-0 md:border-b border-l-0 border-r-0 border-copperfield w-full top-0 z-50 bg-copperfield-50;
}

nav > div {
      @apply flex items-center justify-between md:justify-end md:mx-auto md:container;
}


nav > div:has(.back-button) {
      @apply justify-between;
}


nav .menu  {
      @apply fixed md:border border-l-0 border-r-0 border-t-0 border-copperfield-50 flex flex-col justify-center pointer-events-none opacity-0 invisible bg-copperfield-50 translate-y-4 md:-translate-y-4 bottom-[57px] md:top-[57px] md:bottom-[unset] transition-all duration-150 w-full h-[calc(100dvh-120px)] min-w-full; 
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

nav .menu menu {
      @apply container;
}

nav .menu li {
      @apply w-full;
}

nav .menu li a {
      @apply inline-block font-marcellus text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl uppercase text-transparent mx-auto py-2;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: theme(colors.copperfield.500);
}

nav .menu li a:hover {
      @apply text-copperfield transition-all duration-150;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}


@screen sm {
      nav .menu li a {
            -webkit-text-stroke-width: 2px; 
      }
}

.logo {
      @apply fixed max-w-full w-full bg-copperfield-50 border border-b-0 border-l-0 border-r-0 border-copperfield md:border-t md:border-b-0 left-0 right-0 top-0 md:top-[unset] md:bottom-0 py-5 z-10;
}

.logo div {
      @apply container flex items-center justify-between mx-auto px-4 md:px-0;
}

.logo h3 {
      @apply p-0 m-0;            
}

.logo p {
      @apply w-auto;
}


.menu-trigger {
      @apply container relative flex justify-center items-center w-auto md:w-auto z-[51] py-3;
}

.triggered + .menu {
      @apply pointer-events-auto opacity-100 visible translate-y-0;
}


.menu-trigger span {
      @apply relative inline-flex flex-col justify-center items-center w-8 h-8;
}

.menu-trigger span::after,
.menu-trigger span::before {
      content: '';
      @apply block h-[.12rem] bg-waterloo-900 max-w-[2rem] transition-all duration-150 w-10/12;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.menu-trigger span::before {
      @apply -translate-y-0.5 translate-x-1;
}

.menu-trigger span::after {
      @apply translate-y-0.5 -translate-x-1;
}

.triggered span::before,
.triggered span::after,
.menu-trigger:hover span::before,
.menu-trigger:hover span::after {
      @apply translate-x-0 bg-copperfield;
}

.triggered span::before {
      @apply rotate-45 translate-y-[.12rem];
}

.triggered span::after {
      @apply -rotate-45 -translate-y-0;
}

.menu li {
      
      a {
            @apply opacity-0 transition-all duration-150 translate-y-4 md:-translate-y-4 pl-4 md:pl-0;
            transition-timing-function: cubic-bezier(.17,.67,.83,.67);

      }

}

.triggered + .menu li {
      .link-0 {
            @apply delay-150
      }
      .link-1 {
            @apply delay-[.25s]
      }
      .link-2 {
            @apply delay-[.35s]
      }
      .link-3 {
            @apply delay-[.45s];
      }
}

.triggered + .menu li .link {
      @apply opacity-100 translate-y-0;
}

.triggered + .menu li .link:hover {
      @apply delay-0 !important;
}

.triggered + .menu li .link-0 {
      @apply delay-150
}

.triggered + .menu li .link-1 {
      @apply delay-[.25s]
}


.triggered + .menu li .link-2 {
      @apply delay-[.35s]
}


.triggered + .menu li .link-3 {
      @apply delay-[.45s];
}

.back-button {
      @apply text-copperfield text-base tracking-widest font-semibold uppercase whitespace-nowrap px-1 bg-copperfield-50;
}


.logo {
      @apply flex items-center justify-between px-4 bottom-0 top-[unset];
}

.logo div {
      @apply px-0;
}


nav .social {
      @apply flex items-center w-auto m-0 p-0;
}

nav .social .instagram svg path {
      @apply stroke-copperfield-600;
}

nav .social .letterboxd {
      @apply ml-2;
}

nav .social .letterboxd svg {
      @apply fill-copperfield-600;
}