
.work-wrapper {
    @apply relative lg:w-10/12 mx-auto my-12 md:my-24 px-6;

}

.work-item {
    @apply relative flex flex-wrap w-full xl:w-10/12 mx-auto  mb-12 last:mb-0;

}

.work-item a {
    @apply absolute inset-0;
}

.work-item .number {
    @apply flex items-end w-full relative p-0 mb-4;
}

.work-item .number::after {
    content: '';
    @apply inline-block w-full h-[1px] bg-waterloo mb-1 ml-2;
}

.work-item .title {
    content: '';
    @apply flex justify-between items-start w-full;
}

.work-item .title svg {
    @apply hidden sm:inline h-16 min-w-16 transition-all duration-150;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.work-item .title svg path {
    @apply stroke-copperfield stroke-1 transition-all duration-150;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.work-item .title h2 {
    @apply inline-flex w-full my-0 whitespace-normal break-words hyphens-auto;
}

.work-item .title h2 span {
    @apply w-full xl:text-6xl text-start transition-all duration-150;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.work-item .title h2 span:first-child {
    @apply text-transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: theme(colors.copperfield.500);
}

.work-item .title h2 span:last-child {
    @apply text-copperfield opacity-0;
    -webkit-text-stroke-width: 0;
}


.work-item .title h2 .stroke {
    @apply absolute inset-0;
}

.work-item .title h3 {
    @apply w-full text-waterloo italic whitespace-normal bg-transparent break-words;
    word-wrap: break-word;
    hyphens: auto;
}


.work-item:hover h2 span:last-child {
    @apply opacity-100;
}

.work-item:hover svg path {
    @apply fill-copperfield;
}

.work-item .subtitle {
    @apply w-full text-waterloo italic whitespace-normal bg-transparent break-words;
}



.work-item img {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 300px;
    height: 300px;
    opacity: 0;
    z-index: 1;
    object-fit: contain;
    @apply hidden md:inline transition-all duration-150;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}
.work-item img.visible {
    visibility: visible;
    @apply opacity-100
}

